# Large data files
data/tsa_claims2.csv
data/GlobalAirportDatabase.csv
data/maps/
data/raw/

# Jupyter
.ipynb_checkpoints/
*.pyc
__pycache__/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
